<h4>Here is a list of all your loads:</h4>
<% @loads.each do |load| %>
	<p>Driver Name: <%= load.driver_name %>, Load-In-Weight: <%= load.load_in_weight %>, Load-Out-Weight: <%= load.load_out_weight %> <a href="/loads/<%=load.id%>/edit">Edit Load</a> <a href="/loads/<%=load.id%>/delete">Delete Load</a></p>
<% end %>