<% if flash.has?(:message) %>
	<%= flash[:message] %>
<% end %>
<h3>This has been posted to your user homepage:</h3>
<p>Driver Name: <%= @load.driver_name %>, Load-In-Weight: <%= @load.load_in_weight %>, Load-Out-Weight: <%= @load.load_out_weight %></p>

<form action="/loads/<%=@load.id%>/delete">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete Load">
</form>

<p><a href="/loads/<%=@load.id%>/edit">Edit Load</a> <a href="/loads">My Loads</a></p>